version: 2
jobs:
  build:
    docker:
      - image: cimg/python:3.10.5
    steps:
      - checkout
      # - restore_cache:
      #     key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            python -m venv venv
            ls
            . venv/scripts/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          name: Running tests
          command: |
            . venv/scripts/activate
            ls
            cd portfolio_api
            python manage.py test
      - store_artifacts:
          path: test-reports/
          destination: python_app
